Memory_leaks/memcheck/aclocal.m4
Memory_leaks/memcheck/compile
Memory_leaks/memcheck/config.guess
Memory_leaks/memcheck/config.log
Memory_leaks/memcheck/config.status
Memory_leaks/memcheck/config.sub
Memory_leaks/memcheck/configure
Memory_leaks/memcheck/configure~
Memory_leaks/memcheck/depcomp
Memory_leaks/memcheck/install-sh
Memory_leaks/memcheck/libtool
Memory_leaks/memcheck/ltmain.sh
Memory_leaks/memcheck/Makefile
Memory_leaks/memcheck/Makefile.in
Memory_leaks/memcheck/missing
Memory_leaks/memcheck/autom4te.cache/output.0
Memory_leaks/memcheck/autom4te.cache/output.1
Memory_leaks/memcheck/autom4te.cache/output.2
Memory_leaks/memcheck/autom4te.cache/requests
Memory_leaks/memcheck/autom4te.cache/traces.0
Memory_leaks/memcheck/autom4te.cache/traces.1
Memory_leaks/memcheck/autom4te.cache/traces.2
Memory_leaks/memcheck/lib/libmemcheck.la
Memory_leaks/memcheck/lib/libmemcheck.lo
Memory_leaks/memcheck/lib/libmemcheck.o
Memory_leaks/memcheck/lib/Makefile
Memory_leaks/memcheck/lib/Makefile.in
Memory_leaks/memcheck/lib/.deps/libmemcheck.Plo
Memory_leaks/memcheck/lib/.libs/libmemcheck.la
Memory_leaks/memcheck/lib/.libs/libmemcheck.lai
Memory_leaks/memcheck/lib/.libs/libmemcheck.o
Memory_leaks/memcheck/lib/.libs/libmemcheck.so
Memory_leaks/memcheck/lib/.libs/libmemcheck.so.0
Memory_leaks/memcheck/lib/.libs/libmemcheck.so.0.0.0
Memory_leaks/memcheck/src/Makefile
Memory_leaks/memcheck/src/Makefile.in
Memory_leaks/memcheck/src/memcheck
Memory_leaks/memcheck/src/memcheck.o
Memory_leaks/memcheck/src/.deps/memcheck.Po
.gitignore
Homework_2/OpenMP/src/pi
Homework_2/OpenMP/src/pi.o
Homework_2/OpenMP/src/pi_omp_private
Homework_2/OpenMP/src/pi_omp_private.o
Homework_2/OpenMP/src/pi_omp_teams
Homework_2/OpenMP/src/pi_omp_teams.o
